<div class="row mx-4 my-2">
    <div class="col-md-12 text-center">
         <h1 class="text-warning">About Me!</h1>
     </div>
     <div class="row mt-3 mb-5">
         <div class="col-md-3">
              <img src="/Assets/images/photo.jpg" class="img-fluid mb-2" alt="..." >   
         </div>
         <div class="col-md-9">
              <div class="mt-4">               
                   <p class="h5 text-white">
                        I am <b>Bikramjeet Singh</b> from India. I'm currently pursuing software engineering technology (fast-track)at Centennial College.
                   </p>
                   <p class="h5 text-white">
                    I have completed by bachelors in technology from India in computer science field and have more than 2 years of experience of working in IT industry.
                   </p> 
              </div>
              <div class="mt-4 text-center">
                  <p class="h4 text-white"><i class="fas fa-file-download"></i> Resume</p>
                   <a href="/Assets/pdf/Bikramjeet's Resume (1).pdf" download = "Bikramjeet's Resume (1)" style="text-decoration: none">
                        <button type="button" class="btn text-dark btn-lg bg-white">Download PDF <i class="fa fa-download" download></i></button>
                   </a>
              </div>
              
         </div>
    </div>
</div>
