<!-- Bottom Nav -->
  <footer>
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
      <p1 class="display-12 navbar-text">&copy; Copyright 2022. All Rights reserved.</p1>
    </nav>
  </footer>