<div class="col-md-12 mx-2 my-2">
    <div class="col-md-12 text-center">
        <h1 class="text-warning">Welcome to my portfolio page!</h1>
            <i class="h4 text-white">"Self Motivated and Technology Enthusiast with a passion for new and emerging technologies."</i>
        </p>
    </div>
    <div class="row">
        <div class="col-md-12 mt-5 ">
            <div class="col-sm-10 mt-8">
            <p class="h5 text-white"><a href="/aboutme" style="color: rgb(0, 255, 42);"><button type="button" class="btn btn-primary" >AboutMe</button></a> Click here to know details about me.</p>
            <p class="h5 text-white"><a href="/projects" style="color: rgb(0, 255, 42);"><button type="button" class="btn btn-primary" >Projects</button></a> Click here project work overview.</p>
            <p class="h5 text-white"><a href="/services" style="color: rgb(0, 255, 42);"><button type="button" class="btn btn-primary" >Services </button></a> Click here services.</p>
            </div>
            <div class="col-md-8 mt-4">
                <img src="/Assets/images/home_portfolio.jpeg" class="img-fluid mb-2" alt="..." width="500">   
           </div>
        
        </div>
        <div class="col-md-12 mt-3 text-center align-items-end">
            </div>
        </div>
    </div>
</div>