<!-- Main Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/"><img src="/Assets/images/logo_b.jpg" width="45" height="30" alt="" class="d-inline-block align-middle mr-2"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">

        <% if (title == "Home"){ %>
        <li class="nav-item active">
        <% } else  { %>
        <li class="nav-item">
        <% } %>
          <a class="nav-link" href="/home"><i class="fas fa-lg fa-laptop-house"></i> Home </a>
        </li>

        <% if (title == "About Me") { %>
        <li class="nav-item active">
        <% } else  { %>
        <li class="nav-item">
        <% } %>
          <a class="nav-link" href="/aboutme"><i class="fas fa-info-circle"></i> About Me</a>
        </li>

        <% if (title == "Projects") { %>
        <li class="nav-item active">
        <% } else  { %>
        <li class="nav-item">
        <% } %>
          <a class="nav-link" href="/projects"><i class="fab fa-elementor"></i> Projects </a>
        </li>

        <% if (title == "Services") { %>
        <li class="nav-item active">
        <% } else  { %>
        <li class="nav-item">
        <% } %>
          <a class="nav-link" href="/services"><i class="fas fa-lg fa-laptop-code"></i> Services </a>
        </li>

        <% if (title == "Contact ME") { %>
        <li class="nav-item active">
        <% } else  { %>
        <li class="nav-item">
        <% } %>
          <a class="nav-link" href="/contactme"><i class="fas fa-mobile-alt"></i> Contact Me</a>
        </li>
    </div>
  </nav>