<div class="row mx-4 my-2">
     <div class="col-md-12 text-center">
          <h1 class="text-warning"><i class="fab fa-elementor"></i> My Projects</h1>
     </div>
     <div class="row mt-5 text-left align-items-center">
          <div class="col-md-9">
               <div class="mt-4">  
                    <ul class="list-group">
                         <li class="list-group-item">
                              <p class="h5 text-black">
                                   <b>Project for Infosys Ltd.(12/2020 - 12/2021)</b>
                              </p>
                              <p class="p text-black">
                                   A Data analysis project where my job was to create programs to perform operations on excel files and
                                   extract the required information used for business growth and understand the requirements of different
                                   markets.
                                   Technologies Used: Python, Pandas, Elasticsearch server
                              </p> 
                         </li>
                         <p></p>
                         <li class="list-group-item">
                              <p class="h5 text-black">
                                   <b>Automation Project for Infosys Ltd.(12/2019 - 11/2020)</b>
                              </p>
                              <p class="p text-black">
                                   It was an automation project under which several things will be replaced which were done manually now. It
                                   will decrease the time period of the process and also chances of error will be minimal.
                                   Responsibilities: I was appointed as CPO Developer. My role was to do the required changes and
                                   development work in CPO (Cisco Process Orchestrator) and PSC (Cisco Prime Service Catalog).
                              </p> 
                         </li>
                         
                         <p class="mt-3 h7 text-white">Disclaminer: Project images cannot be shared as it is breach to company policies.</p>
                    </ul>             
               </div>
          </div>
     </div>                  
          
 </div>
 